<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="none">
    <test name="DummyTest">
        <classes>
            <class name="org.alfresco.test.mock.DummyTest">
                <methods>
                    <include name="bye"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="DummyTest2">
        <classes>
            <class name="org.alfresco.test.mock.DummyTest2"/>
        </classes>
    </test>
</suite>